pomodoro-cycle-backup-*.json
*.backup.json
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.Spotlight-V100
.Trashes
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
LogFiles/
[Dd]ownloads/
$RECYCLE.BIN/
*~
.fuse_hidden*
.directory
.trash/
.nfs*
.vscode/
!.vscode/extensions.json
*.code-workspace
.history/
.idea/
*.iws
*.swp
*.swo
